#email_list {
	width: 182px;
	list-style: none;
	border: 1px solid #74c9e6;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 2px;
	position: absolute;
	top: 29px;
	left: 80px;
	background: #fff;
	display: none;
}

#email_list li {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-indent: 10px;
	cursor: pointer;
	overflow: hidden;
}

#email_list li.first_li {
	cursor: default;
}

#email_list .current {
	background: #baeafb;
}