@charset "utf-8";

/* 引用 bootstrap 框架  */
@import url(bootstrap.css);
/* 全局、常用以及一些其它的重置 */
@import url(global.css);
/* 扩展bootstrap组件的样式定义 */
@import url(bootstrap-ext.css);

/* 浏览器兼容 */
@import url(browserfix.css);

/* 各模块样式 */
@import url(module/module.css);